.leftbar {
  width: 8%;
  height: 100vh;
  background-color: rgb(231, 216, 216);
  box-shadow: 0 4 8 0 rgba(0, 0, 0, 0.2);
}
.titles {
  font-size: 1em;
}
.grid {
  display: flex;
}
.mainbar {
  width: 90%;
}
.image {
  width: 50%;
  height: 25%;
  margin-left: 25%;
}
.spacing {
  margin: 5%;
}
.header {
  margin-top: 3%;
}
.right {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.tag {
  color: grey;
}
.stag {
  color: grey;
  font-size: 0.8em;
  text-align: center;
  margin-top: 5%;
}
.value {
  font-size: 2rem;
  text-align: center;
}
.icons {
  height: 2vh;
  margin-bottom: 1%;
  margin-left: 4%;
}
.currencies {
  margin-top: 5%;
  margin-left: 20%;
  align-items: center;
}
.currencies img {
  height: 4vh;
  margin-right: 1%;
}
.countrycoms {
  margin-top: 2%;
  height: 15vh;
  
}
.border{
  border-right: 0px;
  border-left: 0px;
}
.lborder{
  border-right: 0px;
}
.rborder{
  border-left: 0px;
}
.svalue {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2%;
}
.lines{
  margin-left: 10%;
  width: 80%;
  height: 80%;
}
.rlines{
  margin-left: 15%;
  width: 60%;
}
.starter{
  display: flex;
}
.expand{
  border: none;
  text-decoration: underline;
  font-size: 0.7rem;
  height: 10%;
  background: none;
  padding: 0;
  margin-top: 3%;
  margin-left: auto;
  font-weight: 500;
}
.pfp{
  padding: 3%;
  height: 15%;
  width: 15%;
  border-radius: 50%;
}
.member{
  display: flex;
  font-weight: 400;
  flex-direction: row;
  width: 80%;
  font-size: 0.8em;
  margin-top: 1%;
  border-radius: 5%;
}
.memName{
  margin-top: 5%;
}
.role{
  margin-top: 5%;
  margin-left: auto;
  padding-right: 2%;
  color: rgb(15, 167, 15);
  background-color: rgb(183, 245, 142);
  border-radius: 40%;
  padding-left: 2%;
  margin-right: 2% ;
}
.bar{
  width: 72%;
  height: 0.5vh;
  background-color: rgb(183, 245, 142);
  margin-top: 0.5px;
  margin-left: 4%;
  margin-bottom: 5%;
  margin-top: 2%;
}
.starters{
  display: flex;
}
